<template name="userDetails">
	<div class="user">
		<div class="section testimony">
			
			<img class="img-rounded" style="height: 45px; margin-top: 4px;" src="{{profile.avatar_url}}">
			
			<a href="{{profile.html_url}}">{{profile.name}}</a>
			
			{{profile.followers}}
			
			{{profile.following}}
			
			{{profile.public_repos}}
			
			<div style="visibility:hidden;">{{buttonClicked}}</div>
			
			<input id="nextUser" type="button" class="button" value="Next" />
			
			

		</div>
	</div>
</template>