/* line 18, ../compass/sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 23, ../compass/sass/style.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  letter-spacing: 1.25px;
  margin: 0;
  padding: 0;
}

/* line 32, ../compass/sass/style.scss */
h1 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* line 38, ../compass/sass/style.scss */
.section {
  padding: 5rem 0;
  margin: 0;
  clear: both;
}

/* line 44, ../compass/sass/style.scss */
.section.header {
  padding: 0;
  background-image: url(../images/hero-home.gif);
  background-size: 100% 100%;
  height: 100%;
  color: white;
}
/* line 50, ../compass/sass/style.scss */
.section.header h1 {
  font-size: 6rem;
}
/* line 53, ../compass/sass/style.scss */
.section.header h2 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
/* line 58, ../compass/sass/style.scss */
.section.header img.logo {
  height: 8rem;
}

/* line 63, ../compass/sass/style.scss */
.hiddenheader {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-image: none;
  background-color: #141414;
  padding: 2rem;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.85) 0 0 2rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
/* line 76, ../compass/sass/style.scss */
.hiddenheader .container {
  text-align: left;
}
/* line 79, ../compass/sass/style.scss */
.hiddenheader a {
  display: inline-block;
  width: 90%;
}
/* line 83, ../compass/sass/style.scss */
.hiddenheader img.sandwichbar {
  margin-bottom: 1rem;
}
/* line 86, ../compass/sass/style.scss */
.hiddenheader img.logo {
  height: 4rem;
}

/* line 91, ../compass/sass/style.scss */
.hiddenheader.on {
  z-index: 4;
  opacity: 1;
}

/* line 96, ../compass/sass/style.scss */
.section.testimony {
  background-color: #f04285;
}
/* line 98, ../compass/sass/style.scss */
.section.testimony .column {
  padding: 5rem;
}

/* line 103, ../compass/sass/style.scss */
.section.signup {
  background-color: #141414;
  color: white;
}

/* line 108, ../compass/sass/style.scss */
.section.contact {
  background-color: #474747;
  color: white;
}

/* line 113, ../compass/sass/style.scss */
.section.footer {
  padding: 1.5rem;
  background-color: #141414;
  color: white;
}
/* line 117, ../compass/sass/style.scss */
.section.footer p {
  text-align: center;
  font-size: 1rem;
  margin: 0.25rem;
}
/* line 122, ../compass/sass/style.scss */
.section.footer a {
  text-decoration: none;
  color: inherit;
}
/* line 126, ../compass/sass/style.scss */
.section.footer hr {
  border-color: black;
  width: 50%;
}

/* line 132, ../compass/sass/style.scss */
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
/* line 138, ../compass/sass/style.scss */
.container p {
  text-align: justify;
  font-size: 1.35rem;
  font-weight: 300;
}

/* line 145, ../compass/sass/style.scss */
.container.header.special {
  text-align: left;
  padding: 2rem 0;
}

/* line 150, ../compass/sass/style.scss */
img.container.left {
  max-width: none;
  float: left;
  width: 50%;
}

/* line 156, ../compass/sass/style.scss */
div.container.left {
  max-width: none;
  padding: 5rem;
  float: right;
  width: 35%;
}

/* line 163, ../compass/sass/style.scss */
img.container.right {
  max-width: none;
  float: right;
  width: 50%;
}

/* line 169, ../compass/sass/style.scss */
div.container.right {
  max-width: none;
  padding: 5rem;
  float: left;
  width: 35%;
}

/* line 176, ../compass/sass/style.scss */
.clear {
  margin: 0;
  padding: 0;
  clear: both;
}

/* line 182, ../compass/sass/style.scss */
.row {
  overflow: auto;
  display: table;
}

/* line 187, ../compass/sass/style.scss */
.row.special {
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -ms-transform: translateX(80%);
  -o-transform: translateX(80%);
  transform: translateX(80%);
  opacity: 0.5;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  transition: all 3s;
}

/* line 193, ../compass/sass/style.scss */
.row.special-left {
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  -o-transform: translateX(-80%);
  transform: translateX(-80%);
  opacity: 0.5;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  transition: all 3s;
}

/* line 199, ../compass/sass/style.scss */
.row.special.normal {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 204, ../compass/sass/style.scss */
.row.special-left.normal {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 209, ../compass/sass/style.scss */
.column {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  min-height: 0.0625rem;
  padding: 1rem;
  text-align: center;
}
/* line 217, ../compass/sass/style.scss */
.column .circle {
  border-radius: 50%;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
}
/* line 223, ../compass/sass/style.scss */
.column .fill {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 230, ../compass/sass/style.scss */
.size-12 {
  max-width: 95%;
}

/* line 234, ../compass/sass/style.scss */
.size-9 {
  width: 53.571428571428571428571428571429%;
}

/* line 238, ../compass/sass/style.scss */
.size-8 {
  width: 60.95238095238095238095238095238%;
}

/* line 242, ../compass/sass/style.scss */
.size-7 {
  width: 55%;
}

/* line 246, ../compass/sass/style.scss */
.size-6 {
  width: 47.142857142857142857142857142857%;
}

/* line 250, ../compass/sass/style.scss */
.size-5 {
  width: 39.285714285714285714285714285714%;
}

/* line 254, ../compass/sass/style.scss */
.size-4 {
  width: 30.47619047619047619047619047619%;
}

/* line 258, ../compass/sass/style.scss */
.size-3 {
  width: 17.857142857142857142857142857143%;
}

/* line 262, ../compass/sass/style.scss */
.float-left {
  float: left;
}

/* line 266, ../compass/sass/style.scss */
.float-right {
  float: right;
}

/* line 270, ../compass/sass/style.scss */
.navigation {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(240, 66, 133, 0.9);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
/* line 281, ../compass/sass/style.scss */
.navigation .wrapper {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 290, ../compass/sass/style.scss */
.navigation .wrapper a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 3rem;
  margin: 2rem;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  transition: all 0.75s;
}
/* line 298, ../compass/sass/style.scss */
.navigation .wrapper a:hover {
  color: white;
}
/* line 301, ../compass/sass/style.scss */
.navigation .wrapper span.x {
  display: block;
  position: fixed;
  top: 5rem;
  right: 15%;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}

/* line 313, ../compass/sass/style.scss */
.navigation.on {
  opacity: 1;
  z-index: 5;
}

/* line 318, ../compass/sass/style.scss */
.button, button#submit {
  display: inline-block;
  padding: 0.75rem 1.875rem;
  border-radius: 0.25rem;
  background-color: #f04285;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 331, ../compass/sass/style.scss */
.button:hover, button#submit:hover {
  -webkit-box-shadow: inset 0 0 0 3px #f04285;
  -moz-box-shadow: inset 0 0 0 3px #f04285;
  -ms-box-shadow: inset 0 0 0 3px #f04285;
  -o-box-shadow: inset 0 0 0 3px #f04285;
  box-shadow: inset 0 0 0 3px #f04285;
  background-color: transparent;
}

/* line 336, ../compass/sass/style.scss */
.clickable, img.sandwichbar, img.downchevron {
  cursor: pointer;
}

/* line 340, ../compass/sass/style.scss */
img.sandwichbar {
  height: 1.5rem;
  margin-bottom: 3rem;
}

/* line 346, ../compass/sass/style.scss */
img.downchevron {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  height: 1.5rem;
}

/* line 354, ../compass/sass/style.scss */
.snazzyinput, input#name, input#email, input#message {
  height: 3rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  font-family: "Source Sans Pro", sans-serif;
  width: 40%;
  margin: 2rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
}

/* line 375, ../compass/sass/style.scss */
input#message {
  width: 90%;
}

/* line 380, ../compass/sass/style.scss */
button#submit {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  letter-spacing: normal;
  border: none;
}
