<template name="contactUs">
    <div class="section contact">
        <div class="container">
            <h1>talk to us</h1>
            <p>
                Want to talk to someone who can personally match you up with your soulmate without you having to do any work? Well, unfortunately we haven't gotten that good yet. We would still love to hear from you though. We've even included a snazzy little contact form to make your life easier!
            </p>
            <form>
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="text" name="message" id="message" placeholder="Message">
                <button type="submit" id="submit">Submit</button>
            </form>
        </div>
    </div>
</template>