<template name="signUp">
    <div class="section signup">
        <img class="container left" src="images/placeholder.png" />
        <div class="container right">
            <h1>how the hell do i sign up??</h1>
            <p>
                Arx mos vere lepus, quamdiu septem bos contradictio id preproperus praesentia pro. Deludo despicio lac dolosus, fui audax aer calamitas stella. Crebro maero nolui eo Montensem ira. Ipse experior letor incredibilis illuc paene iaculum, mallui vir priores. Tergo ter decimus ob ordinatio per. Respicio consilio cohors vulpes, qualitas libero inscribo palma cohors.
				
            </p>
            <a class="button" href="#">Sign Up</a>
        </div>
        <div class="clear"></div>
    </div>
</template>