<template name="testimony">
    <div class="section testimony">
        <div class="container">
            <h1>what people say about us</h1>
            <div id="row1" class="row special">
                <div class="column size-3">
                    <div id="scroll1" class="circle">
                        <img class="fill" src="images/smiling-girl.jpg" />
                    </div>
                </div>
                <div class="column size-9">
                    <h2>"The Best Everrrrr"</h2>
                    <p>
                        OH. EM. GEE. Hot guys who also have C repos? Yes PLEASE! This is the best service I've ever used!
                    </p>
                </div>
            </div>
            <div id="row2" class="row special-left">
                <div class="column size-9">
                    <h2>"Not Just a Dating App"</h2>
                    <p>
                        I actually really enjoy using this app just to find other friends that are also web developers, especially since I can choose to talk to people that use the same languages as me, or write in completely foreign ones (the Erlang peeps are mad cray, tho).
                    </p>
                </div>
                <div class="column size-3">
                    <div id="scroll2" class="circle">
                        <img class="fill" src="images/business-man.jpg" />
                    </div>
                </div>
            </div>
            <div id="row3" class="row special">
                <div class="column size-3">
                    <div id="scroll3" class="circle">
                        <img class="fill" src="images/happy-man.jpg" />
                    </div>
                </div>
                <div class="column size-9">
                    <h2>"There Are Actually Women On Here"</h2>
                    <p>
                        I'm not lying guys. I have women fork my repo almost every day, and it's awesome! I've even merged with a few different people ;)
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>